<div class="flex flex-col items-center sticky top-0 main-navbar">
  <%= link_to "Laura Martin Person", root_path , id: "navbar-title" %>
    <div class="flex">
      <%= link_to "Works", root_path , class: "nav-link mr-5" %>
      <%= link_to "About", about_path, class: "nav-link  mr-5" %>
      <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
    </div>


</div>