<div class="container mx-auto container-main"->
  <div class="justify-center" id="profile-container">
    <div class="text-justify mr-5 text-container">
      <h2 class="text-subtitle">Biographie</h2>
        <p><%= @biography %></p>
      <h2 class="text-subtitle" id="curriculum">Curriculum</h2>
      <% if Event.first.present? %>
        <% @events.each do |event| %>
          <div class="d-flex align-items-center">
            <%= event.year %>&nbsp&nbsp&nbsp
            <p><%= event.object %>,&nbsp</p>
            <p><em><%= event.place %></em></p>
          </div>
        <% end%>
      <% end %>
    </div>
    <%= image_tag 'profile.jpg', id:"profile-picture" %>

  </div>
</div> 
