<div class="container mx-auto container-main"->
  <div class="justify-center" id="profile-container">
    <div class="text-justify mr-5">
    <h2 class="text-subtitle">Bio</h2>
      <p><%= @biography %></p>
    <h2 class="text-subtitle">Curriculum</h2>
    <% unless Event.nil? do %>
      <% @events.each do |event| %>
        <div class="flex items-center">
          <%= event.year %>&nbsp&nbsp&nbsp
          <p><%= event.object %>,&nbsp</p>
          <p><em><%= event.place %></em></p>
        </div>
      <% end%>
    <% end %>



    </div>
    <%= image_tag 'profile.jpg', id:"profile-picture" %>

  </div>
</div> 
