<div class="container mx-auto container-main"->
  <div class="justify-center  container-center" id="contact-container">
    <div class="container-center">
      <div id="contact-form">
        <%= form_for @contact do |f| %>
          <div class="">
            <%= f.label "Votre prénom" %></br>
            <%= f.text_field  :name, required: true, class: "contact-form-text-area" %></br>

            <%= f.label "Votre mail"%></br>
            <%= f.text_field :email, required: true, class: "contact-form-text-area" %></br>

            <%= f.label "Votre message" %></br>
            <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "contact-form-text-area"%></br>

            <div class= "hidden">
              <%= f.label :nickname %>
              <%= f.text_field :nickname, hint: 'Leave this field blank!' %>
            </div>

            <%= f.submit 'Envoyer le message', class: 'button button-primary' %>
          </div>
        <% end %>
      </div>
      <div class="text-center contact-text">
        <div>
          <a href="mailto:laura.martin.person@gmail.com" class="link"><i class="far fa-envelope link"></i>laura.martin.person@gmail.com</a><br>
          <a href="https://www.instagram.com/laura_personne/" class="link"><i class="fab fa-instagram link"></i>@laura_personne</a><br>
          <a href="" class="link"><i class="fas fa-phone link"></i>0611913465</a>
        </div>
      </div>
    </div>

  </div>
