<div class="container-centered mx-auto">
  <%= link_to series_path(Serie.first.id), class:"image_link", id:"three-images-link-1" do %>
    <%= image_tag Serie.first.main_image.variant(saver: { quality: 80 })%>
  <% end %>
  <%= link_to series_path(Serie.second.id), class:"image_link", id:"three-images-link-2" do %>
    <%= image_tag Serie.second.main_image.variant(saver: { quality: 80 })%>
  <% end %>
  <%= link_to series_path(Serie.third.id), class:"image_link", id:"three-images-link-3"  do %>
    <%= image_tag Serie.third.main_image.variant(saver: { quality: 80 })%>
  <% end %>
</div>