<div class="container-bordeless flex">
  <div class="gallery-text">
    <h2 class="gallery-name">
      <%= @serie.name %>
    </h2>
    <p>
      <%= @serie.description %>
    </p>
  </div>
  <div class="gallery">
    <div class="gallery-images flex">
      <% @serie.images.each do |image| %>
        <%= link_to series_image_path(image.serie.id, image.id) do %>
          <div class="image-card">
            <%= image.name %><br>
            <% if image.photo.attached? %>
              <%= image_tag(url_for(image.photo)) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
