<!DOCTYPE html>
<html>
  <head>
    <title>Laura Martin Person</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="description" content="Laura Martin Person's work in visual arts">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Laura Martin Person" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="example.jpg" />
    <meta property="og:description" content="Laura Martin Person's work in visual arts" />
    <meta property="og:site_name" content="Laura Martin Person" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css" />
    
    <%# <script src="/path/to/masonry.pkgd.min.js"></script> %>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('favicon.png') %>

  </head>

  <body class="">
    <%= render 'shared/navbar' %>
   <%= render 'shared/flashes' %>
    <main class="container mx-auto mt-2 px-5 flex">
    <%= yield %>
    </main>
  </body>
</html>
